{% extends "base.html" %}
{% block title %} | {{ key }}{% endblock %}
{% block pagetitle %}Raw Sensor Data{% endblock %}
{% block content %}
<div class="overflow-auto">
<table class="f6 w-100 mw8 center" cellspacing="0">
  <tr class="stripe-dark">
    <th class="">ID</th>
    <th class="">Date</th>
    <th class="">Temp</th>
    <th class="">Humi</th>
  </tr>
{% for data in sensor_data %}
  <tr class="stripe-dark">
    <td>
      {{ data.id }}
    </td>
    <td>
      {{ data.date }}
    </td>
    <td>
      {{ data.temp }}
    </td>
    <td>
      {{ data.humi }}
    </td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock %}
