{% extends "base.html" %}
{% block title %} | {{ device.key }}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
{% endblock %}
{% block pagetitle %}Sensor Data{% endblock %}
{% block content %}
<article class="cf pa3">
  <div class="fl w-50 tl">
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0 gray ttu tracked">Temperature</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{% if sensor_data %}{{ sensor_data[-1].temp }}°C{% endif %}</dd>
    </dl>
  </div>
  <div class="fl w-50 tl">
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f6 fw4 ml0 gray ttu tracked">Humidity</dd>
      <dd class="f2 f-subheadline-l fw6 ml0">{% if sensor_data %}{{ sensor_data[-1].humi }}%{% endif %}</dd>
    </dl>
  </div>
</article>
  <div class="bb b--black-20 pv3">
    <canvas id="chart" width="80vw" height="60vw"></canvas>
    <script>
      var chartData = {
        labels : [
          {% for data in sensor_data %}
           "{{ data.date }}",
          {% endfor %}
	       ],
        datasets : [{
          backgroundColor: "rgba(245, 62, 39, 0.2)",
          borderColor: "rgba(245, 62, 39, 0.8)",
          radius: 0,
          fill: true,
          label: 'Temperature',
          data: [
            {% for data in sensor_data %}
               {{ data.temp }},
            {% endfor %}
	           ]
          }, {
            backgroundColor: "rgba(151,187,205,0.2)",
            borderColor: "rgba(39, 145, 245, 0.8)",
            radius: 0,
            // fill: true,
            label: 'Humidity',
            data: [
              {% for data in sensor_data %}
                 {{ data.humi }},
              {% endfor %}
            ]
          }
        ]
      };

     const ctx = document.getElementById('chart').getContext('2d');
     const myChart = new Chart(ctx, {
          type: 'line',
          data: chartData,
          options: {
            // responsive: false,
            scales: {
              x: {
                type: 'time',
                time: {
                  // tooltipFormat: 'DD T'
                  tooltipFormat: 'DD T'
                }
              },
              y: {}
            }
          }
      });
    </script>
    <h4 class="f6 fw6 ttu tracked">Amount of selected data</h4>
    <form method="post" action="/show/{{ device.key }}">
      <input type="submit" value="ALL" name="view" {% if g.view == 'ALL' %} disabled {% endif %}/>
      <input type="submit" value="LESS" name="view" {% if g.view == 'LESS' %} disabled {% endif %}/>
      <input type="submit" value="2h" name="time" {% if g.time == '2h' %} disabled {% endif %}/>
    </form>
  </div>
  <div class="pa3 pa5-ns">
    <h4 class="f6 fw6 ttu tracked">Device Informations</h4>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Key:</dt>
      <dd class="dib ml0 gray"><i>{{ device.key }}</i></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Info:</dt>
      <dd class="dib ml0 gray">{{ device.info }}</dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Enviroment:</dt>
      <dd class="dib ml0 gray">{{ device.environment }}</dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Raw Data:</dt>
      <dd class="dib ml0"><a class="purple link dim" href="/raw/{{ device.key }}">235235</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Home:</dt>
      <dd class="dib ml0 gray">Home Record</dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Road:</dt>
      <dd class="dib ml0 gray">Road Record</dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Div:</dt>
      <dd class="dib ml0 gray">Division Record</dd>
    </dl>
  </div>
{% endblock %}
